<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
  <link rel='stylesheet' href='/stylesheets/styletest.css' />
</head>
<body>
    <h2>Employee Database</h2>
    <div >
    <div class="form-data" >
        <form action="/users/add" method="POST">
            <fieldset>
                <h3>Add New employee</h3>
                <label>Full Name</label>
                <input type="text" id="name" name="name" required>
                <br><br>
                <label>Email Address</label>
                <input type="text" id="name" name="name" required>
                <br><br>
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
    <fieldset>
        <h3>Employee Details</h3>
    <div class="table-data" id="table-wrapper">
        <div id="table-scroll">
        
           
    <table border="1" >
        <thead>
        <tr>
            <th <span class="text">S.N</span></th>
            <th <span class="text">Emp ID</span></th>
            <th <span class="text">Full Name</span></th>
            <th <span class="text">Email Address</span></th>
            <th <span class="text">Active</span></th>
            <th <span class="text">Edit</span></th>
            <th <span class="text">Delete</span></th>
        </tr>
        </thead>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td align="center"><%=data.id %></td>  
            <td width=""><%=data.name %></td>
            <td><%=data.email %></td>
            <td align="center"><%=data.active %></td>
            <td align="center"><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td align="center"><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
   
</div>
    </div></fieldset>
</div> 
</body>
</html>